*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {padding-top: 50px;
  font-family: Arial, sans-serif;
  background-image:url("circulos.jpg");
  background-position: 50% 50%;
  color: #fff;

}





.container {
 
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 255, 255, 0.568);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.left-column {
  background: transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: 27.5;
  padding: 30px;
}

.right-column {
  background: transparent;
  backdrop-filter: blur(3px);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  flex: 72.5;
  padding: 30px;
}


a {text-decoration:none;}


svg{width:20px;
  height:20px;
  font-size: 24px;
  font-weight: bold;
color:lightblue;}





h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


a {
  color: #0072c6;
}

button {
  
  background-color: #333536;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover { transform: scale(1.1);
  box-shadow: 0 0 4px 0;
}



/* Estilos para la primera columna */



.first-column h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.first-column p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Estilos para la segunda columna */



.second-column h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.second-column ul {
  margin-bottom: 20px;
}

.second-column li {
  margin-bottom: 10px;
}


/* Estilos para anexo*/

.container1 {
  min-height: 400px;
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0, 255, 255, 0.568);
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
 
 }



.acordeon{padding: 10px; }

.acordeon li {list-style:inside;}
.btn-acordeon{display: none;}
 
.acordeon label {box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 255, 255, 0.568);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease; }

.contenido-acordeon {
  margin: 5px;
  max-height: 0px;
  max-width: 0px;
  overflow:hidden; 
  transition: all 600ms ease;}




.btn-acordeon0{display: none;}

.btn-acordeon:checked ~  .contenido-acordeon{ 
  max-height: 600px;
  max-width: 600px;
  padding: 15px 0px;

}

.btn-acordeon:checked ~  .btn-acordeon0{ display:block}







/* Estilos para el bot��n de descarga */

.container2{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.download-button {
  text-align: center;
  margin-top: 40px;
}

.download-button a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.download-button button {
  display: inline-block;
  margin: 0 auto;
}


.btn {
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 255, 255, 0.568);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}


.btn:active {
  transform: translateY(2px);
}





@media screen and (max-width: 600px) {
  .container {
  display: block;
  }
  
  .left-column {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 30px;
  }
  
  .right-column {  
    padding: 30px;
  }

  .container1 { 
      display: block;
    min-height: 600px;
      
}
}
